html, body {
  height: 100%;
}

.pusher {
  background: #f9f9f9 !important;
}

.chart {
  margin: auto;
}

/* Simulation Chart */
.schart {
  width: 100%;
}

/* Probability Chart */
.pchart {
  width: 100%;
}

/* Sum Chart */
.sumchart {
  width: 67%;
}

.number {
  width: 50px;
}

.ui.vertical.menu {
  width: 16rem;
  padding: 10px;
}

.form {

}

.btn-param {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.sidebar-toggle {

}

.stats, .retry {
  margin: auto;
  width: fit-content;
}

.ui.statistic>.pico, .ui.statistics .statistic>.pico {
  font-size: 1rem!important;
}

.divider-black {
  border: 1px solid black !important;
}
